@font-face {
    font-family: neue;
    src: url(./NeueHaasDisplayMediu.ttf)
}

* {
    margin: 0;
    padding: 0;
      box-sizing: border-box;
    font-family: "neue";
}

html,
body {
    height: 100%;
       width: 100%;
}
#main{
    position: relative;
    /* height:100%;
    width:100%; */
    /* z-index: 1; */
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    /* to control the childs */
    padding :0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    


}

#nav-part2 {

    display: flex;
    align-items: center;
    gap: 1vw;

}
#nav-part2 h3{
    display:none;
}

#nav-part2 h4 {
    padding: 10px 29px;
    border: 1px solid rgba(62, 61, 61, 0.586);
    border-radius: 50px;
    /* color: rgba(0, 0, 0, 0.748); */
    font-weight: 500;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    transition: all ease 0.4s;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
    
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
    z-index: 9;
}

#nav-part2 h4 a {
    color: rgba(0, 0, 0, 0.801);
    text-decoration: none;
    /* position: relative; */
   

}

#nav-part2 h4:hover a {
    color: white;
    z-index: 99;
    position: relative;
}

#center {
    height: 65vh;
    width: 100%;
  
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
border-bottom: 1px solid #0000003c  ;
padding:2vw;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    

}
#right h1{
    font-size:19vw;
}
#center h1{
    font-size: 7vw;
    line-height: 6vw;
    /* distance between line  */
    text-align: right;

}
#page1 video{
    position: relative;
    border-radius:60px;
    width:100%;
    /* totally adjust the upper portion width with the video width  */
    margin-top: 2vw;
}
#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 73vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
        border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}
#page2{
    width:100%;
    padding:8vw 0vw;
   min-height: 100vh;
    background-color: #EFEAE3;
    position:relative;
}
#moving-text{
    white-space: nowrap;
    overflow-x:auto;
}
#moving-text::-webkit-scrollbar{
    display:none;
}
.con{
white-space: nowrap;
display:inline-block;
animation-name:move;

animation-duration:8s;
animation-timing-function: linear;
animation-iteration-count: infinite;


}
#moving-text h1{
    font-size: 9vw;
    /* background-color:lightblue; */
    display:inline-block;
    padding:0vw 2vw;

}
#gola{
    height:70px;
    width:70px;
  border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    padding:3vw 3vw;
}
@keyframes move{
    from{
        transform:translateX(0);
    }
    to{transform:translateX(-100%)
    }
}
 #page2-bottom-1{
    height:80vh;
    width:100%;
      padding:4.5vw;
    display:flex;
    align-items: center;
    justify-content: space-between;
position: relative;
z-index:9;
}
#page2-bottom-1 h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}
#page2-bottom-2{
    width:19%;   
   margin: bottom 6px;;
}
#page2-bottom-2 img{
    width:100%;
     border-radius:15px;

}
#page2-bottom-2 p{
                margin-top: 2vw;
    font-size:1vw;

}
#page2 #page2-bottom-blurry{
    height:30vw;
    width:30vw;
    border-radius: 50%;
    background:linear-gradient(to top right,#FE320A,#ff671b);
    left:20%;
    position:absolute;
    top:58%;
    filter:blur(20px);
    animation-name: page2-bottom-blurry;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes page2-bottom-blurry{
    from{
        transform:translate(10%,-10%) skew(0);
    }
    to{
        transform:translate(-10%,10%) skew(-12deg);
    }
}
#page3{
    height:120vh;
    width:100%;
    background-color: #EFEAE3;

}
.elem{
    height:120px;
    width:100%;
    position: relative;
    overflow:hidden;
    display: flex;
    align-items: center;
    font-size: 35px;
    padding:0vw 2vw;
    
    border-bottom:1px solid rgb(188, 186, 186);
}
.elem h2{
    z-index:9;
    position:relative
}

.elem .overlay{
height:100%;
width:100%;
position: absolute;

left:0;
background-color: orange;
top:-100%;
transition: all ease 0.3s;

}
.elem:hover .overlay{
    top:0;}
     
.fixed-image{
    height: 32vw;
    width:26vw;
   background-size : cover;
   background-position: center;
    position:fixed;
    z-index: 99;
    left:52%;
    top:18%;
   border-radius: 15px;
   display: none;
}
#page6
{
    min-height:100vh;
    width:100%;
    background-color: bisque;
}


#page4{
   min-height:90vh;
   width:100%;
   position: relative;
   display:flex;
  
}
#page4 h1{
    min-height:90vh;
    width:100%;
    background-color: #EFEAE3;
    display:flex;
    align-items: last baseline;
    justify-content: center;
    background-color: #0b0500;
    color:white;
    padding:0.2vw 0vw;
    position: absolute;
    font-size: 21vw;

}
#page5{
        border-top: 1px solid white;
        min-height:10vh;
        width:100%;
        background-color: black;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
}
#page5 h4{
   
   

    color:white;
  
}


#page4 #effect{
    height:30vw;
    width:30vw;
    border-radius: 50%;
    background:linear-gradient(to top right,#FE320A,#ff671b);
    left:60%;
    position:absolute;
    top:58%;
    z-index: 99;
top:10%;
    filter:blur(80px);
    animation-name:myeffect;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes myeffect{
    from{
        transform:translate(20%,-50%) skew(-5deg);
    }
    to{
        transform:translate(-70%,50%) skew(-12deg);
    }
    
    
    
    
}
@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#page4 #page5{
    min-height:10vh;
    width:100%;
    background-color: black;
    border-top: 1px solid grey;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    position: absolute;
    
    
    
}
#page5 h4 {
    margin: 0; /* Remove default margin for h4 elements */
}
#page5 a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color */
}

#page5 a:hover {
    text-decoration: underline; /* Add underline on hover */
}
#page1 h2{
    display:none;
}
@media  (max-width:600px){
    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }
    
    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }
 

}